:root{
    --logo-width:3rem;
    --logo-height:3rem;
    --ui-color-1:#fff;
    --ui-color-2:#efefef;
    --ui-font-color-1:#111;
    --padding:0.5rem;
    --section-padding:3rem;
}
*{
    margin:0;
    padding:0;
    border:0;
}
body{
    color:var(--ui-font-color-1);
    font-family:'Open Sans', sans-serif;
    font-size:16px;
}
header{
    display:flex;
    padding:var(--padding);
    justify-content:space-between;
    align-items:center;
    background:var(--ui-color-1);
}
.header-logo{
    height:var(--logo-height);
    position:relative;
    z-index:2;
    width:var(--logo-width);
}
/**
* logo
*
* SVG Logo styles
*/
.header-logo-img{
    width:var(--logo-width);
}
svg polyline,svg path{
    fill:none;
    stroke:var(--ui-font-color-1);
    stroke-width:7px;
    stroke-miterlimit:10;
    stroke-linecap:round;
    stroke-linejoin:round;
}
.header-nav{
    width:100%;
    position:absolute;
    top:-100vh;
    left:0;
    transition:top 0.5s, padding 0.5s;
    background:var(--ui-color-1);
}
.header-nav-a{
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    color:var(--ui-font-color-1);
    display:block;
    font-size:1rem;
    padding-bottom:var(--padding);
    line-height:1rem;
}
#open_menu:checked ~ .header-nav{
    top:0;
    padding-top:5rem;
    padding-bottom:1rem;
}
.header-menu{
    --line-width:2rem;
    --line-height:3px;
    --line-radius:3px;
    --line-color:var(--ui-font-color-1);
    --line-color-open:var(--ui-font-color-1);
    --line-gap:0.5rem;
    --line-shift:calc(var(--line-gap) + (var(--line-height) / 2));

    position:relative;
    width:var(--line-width);
    height:var(--line-width);
    text-align:right;
    justify-content:right;
}
.header-menu-line{
    height:var(--line-height);
    border-radius:var(--line-radius);
    background-color:var(--line-color);
    display:block;
    transform-origin:right;
    transition:transform .3s, background-color .3s linear .15s;
}
.header-menu-line:first-child{
    margin-bottom:var(--line-gap);
}
.trigger{
    display:none;
}
#open_menu:checked ~ .header-menu .header-menu-line{
    background:var(--line-color-open);
}
#open_menu:checked ~ .header-menu .header-menu-line:first-child{
    transform:rotate(-45deg);
}
#open_menu:checked ~ .header-menu .header-menu-line:last-child{
    transform:rotate(45deg) translateY(var(--line-shift)) translateX(0.5rem);
}
main{
   padding-left:var(--padding); 
   padding-right:var(--padding); 
   min-height:90vh;
}
footer{
    background:var(--ui-color-2);
    padding:var(--section-padding) var(--padding);
    text-align:center;
}
h1{
    text-transform:uppercase;
}

.bg{
    background:var(--ui-color-2);
    padding:var(--padding);
    height:calc(100vh - var(--logo-height) - (var(--padding) * 5)); /* occurs 5x */
    display:flex;
    align-items:center;
    justify-content:center;
}
.bg-caption{
    text-align:center;
}
.bg-caption-title, .bg-caption-txt{
    color:var(--ui-font-color-1);
}
#about{
    padding-top:var(--section-padding);
    display:flex;
    
}
.about-img{
    width:3rem;
    height:3rem;
    margin-right:var(--padding);
    border-radius:50%;
    background:var(--ui-color-2);
}
#work{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 320px));
    grid-gap:var(--padding);
    padding-top:var(--section-padding);
    padding-bottom:var(--section-padding);
}
.work-title{
    grid-column:1/-1;
    text-align:center;
}
.work-tile{
    text-align:center;
    height:100%;
    max-height:320px;
    background:var(--ui-color-2);
}
@media (min-width:568px) {
    .header-nav{
        display:flex;
        align-items:center;
        position:relative;
        width:fit-content;
        top:0;
    }
    .header-nav-a{
        margin-right:0.5rem;
    }
    .header-nav-a:last-child{
        margin-right:0;
    }
    .header-menu{
        display:none;
    }
}
